.col-md-6.col-sm-12.col-xs-12
  .panel{:class => "panel-#{env_to_colour(env.name)}"}
    .panel-heading
      .row
        .env-icon.col-xs-12.col-sm-2.col-md-2
          %span.fa-stack.fa-2x.fa-fw
            %i.fa.fa-television.fa-stack-2x
            .fa-stack-1x.television-text= env_name(env)
        .env-details.col-xs-12.col-sm-10.col-sm-10
          - if deployment
            %ul
              %li= "Submitter - #{deployment.dev}"
              %li
                - deployment.projects.each do |project|
                  %a.btn.btn-default.btn-xs{:href => sha_url(project.repository.name, project.sha)}
                    %i.fa.fa-tag
                    = project.repository.name
              %li= "Submitted #{time_ago_in_words(deployment.created_at)} ago"

    %a{:href => releases_path}
      .panel-footer
        %span.pull-left
          %a{:href => (release_path(deployment.release) if deployment) }
            = deployment.release.summary if deployment
        %span.pull-right
          %a{:href => (release_path(deployment.release) if deployment) }
            %i.fa.fa-arrow-circle-right
        .clearfix
