.projects-model.modal.fade{:id => "deploymentProject#{deployment.id}", "aria-hidden" => "true", "aria-labelledby" => "deploymentProjectLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#deploymentProjectLabel.modal-title
          Projects to
          %mark= deployment.environment.name
      .modal-body
        .caption.word-wrap
          %h4
            Release
            %small= deployment.release.name
          %br/

          %label Summary
          %p= deployment.release.summary
          %br/

          - if deployment.deployable_by?(current_username)
            %h4 Standard deploy commands
            - deployment.projects.each do |project|
              - if project.deploy_commands.none?
                %p No quick deploy commands available - talk to Ops.
                %p.project-command
                  - if deployment.environment.production?
                    = "#{deployment.environment.name} #{project.repository.name} #{project.sha}"
                  - else
                    = "#{deployment.environment.name} #{project.repository.name} #{project.branch.name}"
              - project.deploy_commands.each do |deploy_command|
                %pre= deploy_command

              %h4 Operations
              .status-select
                %select{:name => "status", :id => "model-deployment-status#{deployment.id}", "data-deployment" => deployment.id}
                  - @deployment_status.each do |status|
                    %option{:value => status.id, :selected => deployment.status == status ? "selected" : nil}= status.name
                %button.next-status.btn.btn-success.btn-sm.ladda-button{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Update when branch is not listed", "data-style" => "expand-left", "data-next-status" => deployment.status.next, "data-deployment" => deployment.id,  :disabled => ("disabled" if deployment.status.next.nil?)}
                  %span.ladda-label Next status


          - projects.each do |project|
            %h4
              %a{:href => "https://github.com/#{ReleasesHelper::ORGANISATION}/#{project.repository.name}"}
                %mark= project.repository.name

            %label Branch
            %code= project.branch.name
            %br

            %label SHA
            %a{:href => sha_url(project.repository.name, project.sha)}
              %code= project.sha
            %br

            %label Deployment Order
            %code= project.deployment_order
            %br

            %label Deployment Instruction
            %p= markdown.render(project.deployment_instruction).html_safe

            %label Rollback Instruction
            %p= markdown.render(project.rollback_instruction).html_safe
            %hr
