#release-wrap
  .row
    .col-lg-12
      %h1.page-header
        %i.fa.fa-rocket
        = "Deployment - #{@deployment.id}"
        - if !current_username.blank?
          %a.btn.btn-primary.btn-sm{:href => edit_deployment_path(@deployment)}
            resubmit

  .row
    .summary.col-lg-12
      %h4 Related release
      %p
        = link_to @deployment.release.name, release_path(@deployment.release)
  .row
    .summary.col-lg-4
      %h4 Deploy to
      %mark= @deployment.environment.name

    .summary.col-lg-4
      %h4 Operation history
      %table.table.table-hover.table-condensed
        - @deployment.operation_logs.each do |log|
          %tr
            %td= log.username
            %td= log.status.name
            %td= log.created_at.strftime("%Y-%m-%d %H:%M:%S")

    .summary.col-lg-4
      %h4 Notification list
      %p= @deployment.notification_list

    - if ops?
      .summary.col-lg-4
        %h4 Operations
        %select{:name => "status"}
          - @deployment_status.each do |status|
            %option{:value => status.id, :selected => @deployment.status == status ? "selected" : nil}= status.name
        %button.next-status.btn.btn-success.btn-sm.ladda-button{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Update when branch is not listed", "data-style" => "expand-left", "data-next-status" => @deployment.status.next, :disabled => ("disabled" if @deployment.status.next.nil?)}
          %span.ladda-label Next status
      .summary.col-lg-4
        %h4 Operations commands
        - @deployment.projects.each do |project|
          %p.project-command
            - if @deployment.environment.production?
              = "#{@deployment.environment.name} #{project.repository.name} #{project.sha}"
            - else
              = "#{@deployment.environment.name} #{project.repository.name} #{project.branch.name}"

  .row
    - @deployment.projects.each do |project|
      .col-lg-4
        %h4
          %a{:href => "https://github.com/#{ReleasesHelper::ORGANISATION}/#{project.repository.name}"}
            %mark= project.repository.name

        %label Branch
        %code= project.branch.name
        %br

        %label SHA
        %a{:href => sha_url(project.repository.name, project.sha)}
          %code= project.sha
        %br

        %label Deployment Instruction
        %p= markdown.render(project.deployment_instruction).html_safe

        %label Rollback Instruction
        %p= markdown.render(project.rollback_instruction).html_safe
        %hr

:javascript
  $(document).ready(function(){
    $("select[name='status']").change(function() {
      var status_id = $(this).val();
      var btn = $('.next-status');
      var disable;
      $.post("/deployment_update_status",
        { status_id : status_id, deployment_id : #{@deployment.id}},
        function(response){
          if (response["error"] === undefined) {
            disable = response["disable"];

            if (disable === false) {
              btn.data('next-status', response["next_status"]);
            } else {
              btn.removeData('next-status');
            }

            btn.prop("disabled", disable);
          } else {
            alert(response["error"]);
          }
        }, "json");
    });

    $('.next-status').click(function(e){
      e.preventDefault();
      var l = Ladda.create(this);
      l.start();
      var status_id = $(this).data('next-status');
      var btn = $(this);
      var disable;

      $.post("/deployment_update_status",
        { status_id : status_id, deployment_id : #{@deployment.id}},
        function(response){
          if (response["error"] === undefined) {
            $("select[name='status']").val(status_id);
            disable = response["disable"];

            if (disable === false) {
              btn.data('next-status', response["next_status"]);
            } else {
              btn.removeData('next-status');
            }
          } else {
            alert(response["error"]);
          }
        }, "json")
      .always(function() { l.stop(); btn.prop("disabled", disable); });
      return false;
    });
  });
