!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title= @unread_count.zero? ? "ReleaseHub" : "(#{@unread_count}) ReleaseHub"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = favicon_link_tag "favicon.png"
    = csrf_meta_tags

    - if authenticated?
      :javascript
        var pusher = new Pusher('#{Pusher.key}', {
          cluster: '#{ENV["PUSHER_CLUSTER"]}',
          encrypted: true
        });

        var presenceChannel = pusher.subscribe("releasehub_channel");

        presenceChannel.bind("new_deployment", function(data) {
          var notice = new PNotify({
            title: "ReleaseHub",
            text: data.message,
            type: 'info',
            icon: null,
            desktop: {
              desktop: true,
              icon: "#{asset_path('logo-32x32.png')}",
              tag: "ReleaseHub:" + data.url
            }
          });

          if (data.url) {
            return notice.get().click(function() {
              if (notice.state === 'open') {
                return window.open(data.url);
              }
            });
          }

          document.title = "(" + data.unread_count + ") ReleaseHub";
        });

  %body
    #wrapper
      = render "shared/navigation"
      #page-wrapper
        = yield
